@import "tailwindcss";
/* Fondo general */
body {
  background-image: url("/images/background.png");
  background-attachment: fixed;   /* se queda quieto al scrollear */
  background-size: cover;         /* cubre toda la pantalla */
  background-position: center;
  background-repeat: no-repeat;
  /* Velo blanco suave encima */
  backdrop-filter: brightness(1.25);
}
